body {
  background-color: RGB(24,24,24);
  color: RGB(255, 255, 255);
}
.button {
  background-color: RGB(100,100,100);
  color: RGB(255, 255, 255);
}

.label {
  color: RGB(255, 255, 255);
}

.textbox {
  background-color: RGB(100,100,100);
  color: RGB(255, 255, 255);
}

.input {
  background-color: RGB(100,100,100);  
  color: RGB(255, 255, 255);
}

.table {
  position: relative;
  left: 50px;
  top: 30px;
}

th, td {
  padding: 5px;
  text-align: left;
}