head {
    font-family: "Arial";
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    font-size: 200%; 
}
  
body {
    font-family: inherit;
    font-size: 100%;
    color: #ffffff;
    background-color: #0d1117;
}

label {
    font-family: inherit;
}

input {
    font-family: inherit;
    background-color: #0f1319;
    color: inherit;
}
input:focus {
    outline: none;
}