:root {
  --bg-dark: hsl(228 100% 3%);
  --bg: hsl(218 98% 6%);
  --bg-light: hsl(212 75% 9%);

  --text: hsl(213 100% 98%);
  --text-muted: hsl(212 69% 72%);

  --highlight: hsl(212 43% 41%);
  --border: hsl(212 58% 30%);
  --border-muted: hsl(210 96% 18%);

  --primary: hsl(212 78% 73%);
  --secondary: hsl(34 59% 62%);
  
  --danger: hsl(9 47% 65%);
  --warning: hsl(51 32% 52%);
  --success: hsl(149 31% 55%);
  --info: hsl(217 52% 67%);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-dark);
  color: var(--text)
}